$image-bg: #2266a5;
$figcaption-bg: #135796;
$figcaption-padding: 1.875rem;
$border-color: #fff;
$border-margin: 0.3125rem;
$border-width: 0.25rem;
$transition-duration: 0.35s;
$shift-distance: 0.625rem;
