@import "../../../variables";

.cssslider {
    position: relative;
}

.pdPluscssSlider {
    text-align: center;
    position: relative;
    overflow: hidden;
    pointer-events: none;

    .experience-cssSliderLayout {
        height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    &.only-pagination {
        .experience-pd_assets-pdPlusCssSlider {
            input+label:after {
                opacity: 0;
                pointer-events: none;
                transition: all 0.5s ease;
            }
        }

        .experience-pd_assets-pdPlusCssSlider:has(input:checked)+.experience-pd_assets-pdPlusCssSlider input+label:after {
            opacity: 0;
            pointer-events: none;
            transition: all 0.5s ease;
        }
    }

    &.arrows-pagination {
        &:hover {
            input+label::after {
                opacity: 1;
                pointer-events: visible;
                transition: all 0.5s ease;
            }

            .experience-pd_assets-pdPlusCssSlider:has(input:checked)+.experience-pd_assets-pdPlusCssSlider input+label::after {
                opacity: 1;
                pointer-events: visible;
                transition: all 0.5s ease;
            }

        }
    }

    [class*="pdPlusCssSlider"] {
          pointer-events: auto;
        &:first-child {
            pointer-events: auto;

            .slide {
                transform: translateX(0);
            }
        }

        display: inline-block;
        width: auto;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    label {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: solid 2px$white;
        border-radius: 999px;
        background-color: transparent;
        margin: 0 6px 20px;
        padding: 4px;
        z-index: 2;
        cursor: pointer;
        transition-duration: 0.6s;
        box-shadow: 0 0 20px 0 $black;
        z-index: 11;
    }

    input:checked+label {
        background-color: $white;
    }

    input+label::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' width='100' style='fill:white'%3E%3Cpath d='M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center 55%;
        background-size: 80px 80px;
        line-height: 100vh;
        transition: background-size 200ms;
        position: absolute;
        color: white;
        height: calc(95vh - 12px);
        width: 80px;
        top: 0;
        left: 0;
        z-index: 20;
        opacity: 0;
        transition: all 0.5s ease;
    }

    input+label:hover::after {
        background-size: 90px 90px;
    }

    input:checked+label::after {
        background-image: none;
        width: 100vw;
        left: 0;
        z-index: 10;
        display: none;

    }

    input:checked+label+.slide~input+label::after {
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease;
    }

    input:focus+label {
        box-shadow: 0 0 0 2px teal, 0 0 18px $white;
    }

    .slide {
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translateX(-100%);
        transition-duration: 0.4s;
        opacity: 1;
        text-align: left;

        .slide-wrapper {
            display: flex;
            height: 100%;
            width: 100%;
            padding: 4%;
        }

        .slideCaption {
            max-width: 50%;
            padding: 4%;

            @include media-breakpoint-down(sm) {
                padding: 4%;
                max-width: 100%;
            }

            .slideContent {
                p:last-child {
                    margin-bottom: 0;
                } 
            }

            .btn {
                margin-top: 20px;
                height: 48px;
                min-width: 150px;

                a {
                    color: inherit !important;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    input:checked~.slide,
    input:checked+label+.slide {
        transform: translateX(0);
        opacity: 1;
    }
}


.experience-pd_assets-pdPlusCssSlider:has(input:checked) + .experience-pd_assets-pdPlusCssSlider input + label::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' width='100' fill='white'%3E%3Cpath d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z' /%3E%3C/svg%3E");
    width: 80px;
    right: 0;
    left: auto;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.experience-pd_assets-pdPlusCssSlider:has(input:checked) ~ .experience-pd_assets-pdPlusCssSlider input + label::after{
    display: none;
}

.experience-pd_assets-pdPlusCssSlider:has(input:checked) + .experience-pd_assets-pdPlusCssSlider input + label::after{
    display: block;
}

[class*=pdPluscssSliderLayout] {
    position: relative;  
    z-index: 100;
}
