@import "../../../variables";


.campaign-banner {
    border: 1px solid transparent;
}

.top-nav-wrapper {
    .banner-item {
        padding: 10px 20px;
        text-align: center;

        p {
            margin-bottom: 0;
            line-height: 1.5;
            font-size: 14px;
        }
    }
}
