@import "../../../variables";

.textWithImageWrapper {
    .experience-pd_assets-pdPlusTextWithImage {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.text-image-container {
    background-color: $white;
    color: $black;

    &.order-text-left {
        .text-column {
            order: 0;
        }

        .photo-column {
            order: 1;
        }
    }

    &.order-text-right {
        .text-column {
            order: 1;
        }

        .photo-column {
            order: 0;
        }
    }

    .text-container {
        padding: 40px;

        .btn-wrapper {
            .btn {
                background-color: $white;
                color: $black;
                border: 1px solid $black;

                .tile-link {
                    color: inherit !important;
                }
            }
        }
    }

    .photo-tile-container {
        .photo-tile-image {
            width: 100%;
        }
    }
}
