@import "../../../variables";
@import "./mixins";

.experience-pd_assets-customImageBanner { height: 100%; }

.tile-link { text-decoration: none; }

.bnr {
    position: relative;
    color: #2e343f;
    margin-bottom: 0;
    overflow: hidden;

         .image-container {
            display: block;

            img {
                display: block;
                width: 100%;
            }

            .auto {
                aspect-ratio: 1/1;
            }

            .hd-images-and-videos {
                aspect-ratio: 16/9; 
            }

            .standard-monitors {
                aspect-ratio: 3/2;
            }

            .classic-films {
                aspect-ratio: 3/2;
            }

            .cenimascope {
                aspect-ratio: 21/9;
            }
         }
        


    /* Nulled Image Container */
    &.nulled-image-container {
        height: 100%;

        picture {
            @include size(100%);

            img { @include size(100%); }
        }
    }

    .bnr-caption {
        @include fill(0);

        z-index: 2;
        display: flex;
        flex-direction: column;
        transition: opacity 0.2s 0.75s;
        padding: 4%;
        width: 100%;

        @include media-breakpoint-down(sm) { 
            padding: 0;
            position: relative;
        }
    }

    &.bnr--xstart .bnr-caption { justify-content: flex-start; }

    &.bnr--xcenter .bnr-caption { justify-content: center; }

    &.bnr--xbottom .bnr-caption { justify-content: flex-end; }

    &.bnr--ystart .bnr-caption-bg {
        margin-left: auto;
        max-width: 50%;

        @include media-breakpoint-down(sm) { 
            max-width: 100%;
            width: 100%;
        }


    }

    &.bnr--ycenter .bnr-caption-bg {
        margin-right: auto;
        margin-left: auto;
        max-width: 50%;

        @include media-breakpoint-down(sm) { 
            max-width: 100%;
        }
    }

    &.bnr--yright .bnr-caption-bg { 
        margin-right: auto; 
        max-width: 50%;

        @include media-breakpoint-down(sm) { 
            max-width: 100%;  
        }
    }
}

.image-hover-scale {
    &:hover {
        .image-container img {
            transition: transform 0.5s ease 0.05s, opacity 0.3s;
            transform: scale3d(1.075, 1.075, 1);
        }
    }

    .bnr-caption [class*="bnr-text"] { transition: 0.2s; }

    > * { backface-visibility: hidden; }

    .bnr-img img {
        backface-visibility: hidden;
        image-rendering: optimizeQuality;
        transition: transform 0.75s ease 0s, opacity 0.3s;
        max-width: 100%;
        vertical-align: middle;

        .product-tiles-outer & { height: 100%; }
    }
}

.bnr-caption-bg {
    position: relative;
    // display: flex;
    flex-direction: column;
    padding: 60px;
    width: fit-content;
    
    @include media-breakpoint-down(sm) {
        padding: 20px;
        margin: 0;
    }

    .bnr-text3 {
        font-size: 0.8125rem;
        font-weight: 700;
        line-height: 1em;

        &.bnr-text3 { margin-top: 5%; }
    }

    .heading-font {
        font-size: 1.25rem;
        font-weight: 900;
        line-height: 1.25rem;
    }

    .bnr-caption-bg-color {
        @include size(100%);

        z-index: -2;
        margin: 0;
        background-color: $white;
        position: absolute;
        top: 0;
        left: 0;

        &.square {
                border-radius: 0;
        }

        &.rounded-bordered {
                border-radius: 8px;
                display: inline-block;
        }

        &.circled-bordered {
                border-radius: 30px;
                display: inline-block;
        }
    }
}

.banner-btn {
    margin: 10px 0;
    min-height: 48px;

    &.btn-block {
        display: block;
    }

    &.square {
        border-radius: 0;
    }

    &.rounded-bordered {
            border-radius: 8px;
            display: inline-block;
    }

    &.circled-bordered {
            border-radius: 30px;
            display: inline-block;
    }

}

.imageBanner {
    .category-link {
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}
