/* imghvr-border-reveal-*
   ----------------------------- */
[class^="imghvr-border-reveal"],
[class*=" imghvr-border-reveal"] {
    background-color: $figcaption-bg;

    &::before,
    &::after,
    figcaption::before,
    figcaption::after {
        content: "";
        background-color: $border-color;
        position: absolute;
    }

    &::before,
    &::after {
        z-index: 1;
        height: $border-width;
        left: $border-margin;
        right: $border-margin;
        transform: scaleX(0);
    }

    &::before { top: $border-margin; }

    &::after { bottom: $border-margin; }

    figcaption {
        z-index: 3;
        background-color: transparent;

        * { opacity: 0; }

        &::before,
        &::after {
            z-index: -1;
            width: $border-width;
            top: $border-margin;
            bottom: $border-margin;
            transform: scaleY(0);
        }

        &::before { left: $border-margin; }

        &::after { right: $border-margin; }
    }

    a { z-index: 3; }

    &:hover {
        > img { opacity: 0; }

        &::before,
        &::after,
        figcaption::before,
        figcaption::after { transform: scale(1); }

        figcaption {
            * {
                opacity: 1;
                transition-delay: $transition-duration;
            }
        }
    }
}

/* imghvr-border-reveal-top-left
     ----------------------------- */
.imghvr-border-reveal-top-left {
    &::before,
    &::after,
    figcaption::before,
    figcaption::after { transform-origin: 0 0; }

    &::before { transition-delay: $transition-duration / 1.25; }

    &::after { transition-delay: 0; }

    figcaption {
        &::before { transition-delay: $transition-duration / 1.25; }

        &::after { transition-delay: 0; }
    }

    &:hover {
        &::before { transition-delay: 0; }

        &::after { transition-delay: $transition-duration / 1.25; }

        figcaption {
            &::before { transition-delay: 0; }

            &::after { transition-delay: $transition-duration / 1.25; }
        }
    }
}
